# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Blender
*.blend
*.blend1
*.blend2
*.crash.txt

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp

# Packaging
*.zip
*.tar.gz
*.tar.bz2
